
@media (max-width: 1200px) {

    .media {
        display: none;
    }

    .media__inner {
        display: none;
    }
    .media__menu {
        display: none;
    }

}

@media( max-width: 991px)  {

    .burger {
        display: block;

    }
    .media__header {
        background:black ;
        padding: 40px 40px 40px 100px;
    }
    .media__menu-link {
        color:#969696;

    }

  .media__inner {
      display: flex;
      justify-content: space-between;
      padding: 35px 40px 35px 35px;
  }
    .logo {
        font-weight: bold;
        font-size: 40px;
        line-height: 32px;
        color: white;
    }
    .fa-shopping-cart {
        font-size: 25px;
        margin: 0 35px 0 25px;
        color: white;
    }
    .fa-search {
        color: white;
        font-size: 25px;
    }

    .fa-user {
        color: white;
        font-size: 25px;
        margin-left: 25px;
    }
    .fa-bars {
        color: white;
        font-size: 30px;
    }

    .media__icon {
        display: flex;

    }

    .burger__active {
        cursor: pointer;
    }


    .media__menu {
        padding: 100px;
        text-align: center  ;

    }
    .media__menu-list-item:not(:last-child ){
        margin-bottom: 30px;
    }

    .media__menu-list {
        list-style-type: none;
        text-decoration: none ;
    }
    .media__menu-link {
        text-decoration: none ;
        font-size: 35px;
        line-height: 45px;
        text-align: center ;
        color: white;
    }

    #header__nav {
        display: none;

    }

    #header {
        display: none;
    }

    #hero{
        background-size:cover  ;
        width: 100%;

    }
    .hero-inner {
        text-align: center ;
        padding: 70px 25px 10px 20px;
    }
    .header__line {
        width: 100px;
    }
    .hero__title {
        width:200px;
        padding: 10px 45px ;

    }

    .hero__desc {
        width:300px;
        height:100px;

    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 911px;
    }

    #new__season {
        height: 100%;
    }
    .new__season-title {
        margin-left: 300px;
        width: 350px;

    }
    .new__season-desc {
        width: 140px;
        font-size: 14px;
        margin-left: 350px;
    }
    .new__season-price {
        width: 92px;
        margin-left:350px;
    }


    .season__col-6 {
        width: 100%;
    }

    .season__men__col-6 {
        width: 100%;
    }

     .new__season__row{
        flex-direction: column;
        display: flex;
    }


    .new__season-img {
        width:220px;
        height: 240px;
        margin-left: 350px;

    }
    .season__img-men {
        width: 100%;
        background-size:cover  ;
    }

    .new__season-catalog {
        margin-top: 400px;

    }

    #collection {
        width: 100%;
    }
    .collection__row {
        flex-direction: column;
    }
    .collection_col-6 {
        width: 100%;
    }

    .collection_black-col-6 {
        width: 100%;
    }
    .collection__img {
        width: 100%;


    }
    .collection__img-black {
        width: 100%;
    }


    .admission__row {
        flex-direction: column;
    }

    .admission-row{
        flex-direction: column;
        margin-left: 330px;
    }
    .admission_swatch-img {
        width: 220px;
        height: 240px;

    }
    .admission__desc {
        width: 140px;
        font-size: 16px;
        margin-left: 10px;

    }
    .admission__price {
        width: 92px;
        margin-left: 10px;

    }
    .admission-title {
        font-size: 30px;
    }
    .admission-item {
        flex-direction: column;
    }

#brands {
    height: 500px;

}
    .brands__img {
    width: 210px;
}
    #about {
    min-height: 1000px;

}

    .about_row {
    flex-direction: column;
    justify-content: center;

}
    .about__col-4 {
    margin-left: 330px;
}
    #your__email {
        width:160px;


}
    .subscribe {
    width: 110px;
    display: inline-block;
}


}


@media (max-width: 767px) {

}

@media (max-width: 480px) {

}